
<div id="results">
  <h4 style="text-align:center"><%= @bar.name %></h4>
  <h5 style="text-align:center"><%= @bar.address %></h5>
  <div class="bs-component">
    <table class ="table table-striped table-hover">
      <tr>
        <th>Check Ins</th>
        <td><%= @bar.checkinsCount %></td>
      </tr>
      <tr>
        <th>Unique User Checkins</th>
        <td><%= @bar.usersCount %></td>
      </tr>
      <tr>
        <th>Here Now</th>
        <td><%= @bar.here_now %></td>
      </tr>
      <% if @bar.url %>
      <tr>
        <th>Website</th>
        <td><a href=<%= @bar.url %> target="_blank"><%= @bar.url %></a></td>
      </tr>
      <% end %>
    </table>
  </div>  
</div>

 <div id="photo-box">
  <% @photos.each do |photo| %>
      <a class="fancybox" rel="group" href=<%= photo[:large] %>><img src= <%= photo[:small] %> alt=""></a>
  <% end %>
</div> 

<!-- Initialize fancy box after page laod -->
<script type="text/javascript">
  $(function(){
    $(".fancybox").fancybox();
  });
</script>





   

