<script type="text/javascript">
  
 $(function(){
  $('.pic').click(function(){
    $(this).attr('width', '500');
    $(this).attr('height', '500');
  });
});
 
</script>

<a href=<%= @bar.url %> target='_blank'>Visit My Webpage</a><br>
<br>

<div id="results">
  <h4 style="text-align:center"><%= @bar.name %></h4>
  <h5 style="text-align:center"><%= @bar.address %></h5>
  <div class="bs-component">
    <table class ="table table-striped table-hover">
      <tr>
        <th>Check Ins</th>
        <td><%= @bar.checkinsCount %></td>
      </tr>
      <tr>
        <th>Unique User Checkins</th>
        <td><%= @bar.usersCount %></td>
      </tr>
      <tr>
        <th>Here Now</th>
        <td><%= @bar.here_now %></td>
      </tr>
    </table>
  </div>  
</div>

<div id="photo-box">
  <ul id="gallery-nav">
    <li>
      <% @photos.each do |photo| %>
        <a href="#" class="pic"><img src= <%= photo %> alt=""></a>
      <% end %>
    </li>
  </ul>
</div>




   

