<!DOCTYPE html>
<html>
  <head>
    <title>BusyBarApp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <!-- animsition CSS -->
    <link rel="stylesheet" href="/animsition/dist/css/animsition.min.css">
    <!-- animsition js -->
    <script src="/animsition/dist/js/jquery.animsition.min.js"></script>
    <!-- google map -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>
  </head>
  <body>
  <%= render 'layouts/header' %>
  <%= yield %>

  </body>
</html>
